<div class="wrapper">
    <app-header></app-header>
    <app-aside></app-aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      
        
    </div> <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
      <!-- Anything you want -->
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2018 <a href="http://magnosanttana.com.br">Magno Santtana</a>.</strong> Todos os direitos reservados.
    </footer>
    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->